.profile {
    width: 10%;
}

img {
    width: 50%;
}

@media (max-width: 1150px) {
  img {
      width: 60%;
  }
}

@media (max-width: 950px) {
    .profile {
        width: 30%;
    }
    img {
        width: 95%;
    }
}
